
# EditorConfig file. https://EditorConfig.org

# this is the top-most editorconfig file
root = true

# use unix-style line endings
[*]
end_of_line = lf
insert_final_newline = true

# 4 space indentation
[*.js]
indent_style = space
indent_size = 4
